<div class="container">
	<router-outlet (activate)="onActivate($event)" ></router-outlet>
	<ul>
		<li class = "post media" *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }" >
			
		
			<a class="pull-left" [routerLink]="['/single', post.id]" routerLinkActive="active">
				<img class="media-object" data-src={{post.image}}>
			</a>
			<div class="media-body">
				<div><a class="pull-left" [routerLink]="['/single', post.id]" routerLinkActive="active"><h2>{{ post.title }}</h2></a></div>
				<div class="date">	{{ post.date }} </div>
				<div innerHTML={{post.content}}></div>
			</div>
		
		</li>
	</ul>

	<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
